@{
  Layout = "_Layout";
}

@model Best.Models.Restaurant
<h1>Add a Restaurant</h1>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class="form-control"})

    <input type="submit" value="Add a new restaurant" class="btn btn-default"/>
}

<button class="btn btn-default">@Html.ActionLink("Back to list", "Index", "Restaurant")</button>

