@model Best.Models.Restaurant
@using Best.Models

<h2> Restaurant Details:</h2>
@if(Model.Cuisines.Count == 0)
{
    <p>No cuisines have been added yet!</p>
}
<ul>
@foreach(Cuisine cuisine in @Model.Cuisines)
{
    <li><h3>@cuisine.Name<h3></li>
}
</ul>

<p>@Html.ActionLink("Add cuisine to the list", "Create", "Cuisine", new { id = Model.RestaurantId })</p>

<p>@Html.ActionLink("Delete this restaurant", "Delete", new { id = Model.RestaurantId })</p>