@model Best.Models.Cuisine

<h2>Add a type <h2>
@using (Html.BeginForm())
{
    <p>Restaurant Id: @ViewBag.RestaurantId</p>
    <input type="hidden" name="RestaurantId" value=@ViewBag.RestaurantId />


    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new type" class= "btn btn-default" />
}




<p>@Html.ActionLink("Back To Restaurant", "Details", "Restaurant", new { id = ViewBag.RestaurantId }) </p>                                  