@{
  Layout = "_Layout";
}

<h1>Best places to eat around town</h1>

<p>@Html.ActionLink("See all Restaurants", "Index", "Restaurant")</p>
<p>@Html.ActionLink("Add A Restaurant to the System", "Create", "Restaurant")</p>
   
